* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
   background-image: url(images/stranger-things-season.jpg);

  background-repeat: no-repeat;
  background-size: 105%;
  background-attachment: fixed;
}

.card {
    background:linear-gradient(130deg,rgb(247, 0, 255),rgb(0, 162, 255));
  width: 90%;
  max-width: 400px;
  background-color: aqua;
  margin: 30px auto;
  border-radius: 20px;
  padding: 30px 30px;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.search {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.search input {
  padding: 10px 20px;
  width: 300px;
  height: 40px;
  font-size: 15px;
  border: none;
  outline: 0;
  border-radius: 50px;
}

.search button {
  border: none;
  outline: 0;
  background: none;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.search button img {
  height: 40px;
  width: 40px;
  border: 2px solid black;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  padding: px;
  border: none;
  outline: 0;
}
.weather img {
  height: 200px;
}

.weather h1 {
  font-size: 60px;
}

.weather h2 {
  font-size: 40px;
  color: rgb(236, 216, 216);
}

.detail {
  display: flex;
  justify-content: space-around;
gap: 15px;
  padding: 40px 0px 0px;
  /* ma:rgin-top: 30px; */
  color:floralwhite;
}

.info1,
.info2 {
  display: flex;
  height: 40px;
  text-align: left;
  gap: 15px;
   font-weight: 900;
}

.humidity,.wind{
color: rgb(255, 200, 129);
    font-size: 30px;
   
}

.search button  :hover{
  /* background-color: rgb(0, 0, 0); */
  border: 1px solid rgb(255, 255, 255);}

@media screen and (max-width: 600px) {
  html,
  body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    background-image: url(/images/stranger-things-season.jpg);

    background-repeat: no-repeat;
    background-size: 400%;
    background-attachment:fixed;
   

  }
}
